<html>
<head>

<style>
.heading{
font-family:"Caviar Dreams";
margin-top:50px;
font-size:4em;
text-align:center;
}

.sub{
font-family:"Caviar Dreams";
margin-top:20px;
font-size:1.5em;
text-align:center;
}


.grid img{
border-style:solid;
border-color:white;
border-radius:100px;
height: 180px;
width:180px;
margin-left:30px;
margin-top:50px;
}

.rotate90 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

</style>

</head>

<body>
<div class="heading">
Meet the team
</div>

<div class="sub">
We're a team of 5 people based in Vellore, India. Half of us work on the product (designing and coding), and the other half work with the community. We love what we do, and who we do it with.

</div>
<div class="grid">

<table>

<div class="grid">
<tr>

	<td><img src="/images/abhinandan.jpg"></td>
	
	<td><img src="/images/shagun.jpg" class="rotate90"></td>
	
	<td><img src="/images/harshit.PNG"></td>
	
	<td><img src="/images/kunal.jpg"></td>
	
	<td><img src="/images/ranjith.jpg"></td>
	
	
</tr>
</div>
</table>
</div>
</body>


</html>