<html>
<head>
<style>
body{
background-color:#009688;
font-family:"Caviar Dreams";
}

.navbar ul li{
list-style-type:none;
display:inline;
padding:10px;
	margin: 10px;
	font-size:1.1em;
	color:white;
	
}

.navbar ul li a{
color:white;
text-decoration:none;
}

.navbar ul li a:hover{
text-decoration:underline;
}

.image img{
margin-top:25px;
margin-left:40px;
border-style:solid;
border-color:white;
border-radius:200px;
height:175px;
width:175px;

}

.name{
font-size:1.3em;
	color:white;
	margin-left:55px;
	margin-top:10px;
}

.skills{
margin-top:25px;
margin-left:55px;

}

.skills table{
border-style:solid;
border-color:white;
}
.skills table tr td{
font-size:1.5em;
	color:white;
}
</style>
</head>

<body>
<div class="navbar">
<ul>
	<li><a href="discover.ejs">Discover</a></li>
	<li><a href="#">Create a Project</a></li>
</ul>
</div>
<div class="complete">
	<div class="image">
	<img src="abhinandan.jpg">
	</div>
	
<div class="name">Abhinandan Bedi<br><t>India</div>

<div class="skills">
<table>
	<tr>
		<td><b>Skills</b></td>
	</tr>
	<tr>
		<td>HTML</td>
	</tr>
	<tr>
		<td>CSS</td>
	</tr>
	<tr>
		<td>Javascript</td>
	</tr>
	<tr>
		<td>NodeJS</td>
	</tr>
</table>
</div>


</div>
</body>

</html>