<html>
<head>
<style>
body{
font-family:"Caviar Dreams";
background-color:#f1f1f1;
}
.image img{
margin-top:25px;

border-style:solid;
border-color:white;
border-radius:200px;
height:175px;
width:175px;

}

.name{
font-size:1.3em;
	color:black;
	margin-left:10px;
	margin-top:10px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 180px;
    background-color: white;
	margin-top:15px;
	border-style:solid;
border-color:white;
border-radius:20px;
margin-left:5px;

}

li {
    text-align: justify;
    }

li:last-child {
    border-bottom: none;
}
</style>
</head>

<body>
<div class="image">
	<img src="/images/images.jpg">
	</div>
	
<div class="name">Rohan Rawal<br><t>India</t></div>

<ul>

<li><b>Skills</b></li>
<li>HTML</li>
<li>CSS</li>
<li>JavaScript</li>
<li>NodeJS</li>

</ul>

</body>
</html>