<html>
<head>

<style>
	body{
	background-color: #009688;
	font-family: "Caviar Dreams";
	}
	
	.navbar{
	background-color: #009688;
	margin:0px;
	height:100%;
	
		
	}
	
	.navbar ul li{
	list-style-type: none;
	display: inline;
	padding:5px;
	margin: 5px;
	
	}
	
	.navbar ul li a{
	text-decoration:none;
	color: white;
	padding:5px;
	margin: 5px;
	
	
	}
	
	.navbar ul li a:hover{
	background-color: white;
	padding: 5px;
	color:#009688;
	border-style:solid;
border-color:white;
border-radius:30px;
		margin: 1px;
	}
	
	
	
	#logo{
	font-family: "Caviar Dreams";
	font-size: 2em;
	padding: 5px;
	margin-left: 275px;
	
	
	}
	
	
</style>

</head>

<body>
<div class="navbar">
	
		<ul>
			<li style="float:left"><a href="discover.ejs" target="rightframe">Discover</a></li>
			<li style="float:left"><a href="/login" target="rightframe">Start a Project</a></li>
			<li id="logo"><a href="/start" target="rightframe">Proyecto</a></li>
			<li style="float:right"><a href="/login" target="rightframe">Login</a></li>
			<li style="float:right"><a href="/signup" target="rightframe">Sign Up</a></li>
			
			
		
		</ul>
</div>
</body>

</html>