<html>

<head>
<style>
.heading{
font-family:"Caviar Dreams";
text-align:center;
font-size:2.5em;
margin-top:20px;
font-style:underline;
}

.video{
margin-top:50px;
margin-left:175px;
}

.subhead{
font-family:"Caviar Dreams";
text-align:center;
font-size:1.3em;
margin-top:15px;
}

.headabout{
font-family:"Caviar Dreams";
font-size:1.8em;
margin-top:40px;
}

.aboutproject{
font-family:"Caviar Dreams";
margin-top:30px;
}
</style>
</head>

<body>

<div class="heading">The Ultimate weather detector</div>
<div class="subhead">By Abhinandan Bedi</div>
<div class="video"><iframe width="750" height="315" src="https://www.youtube.com/embed/dU1xS07N-FA" frameborder="0" allowfullscreen></iframe><div>

<div class="aboutproject">
<div class="headabout">About The Project</div><br>
The V3 Series Holder System is comprised of Holders, Grips, and Adapters to provide painters and sculptors of all levels of expertise with a unique aid for their painting or sculpting arsenal. The V3 Series Miniature Holder System offers a comfortable, touchless, and precision application for miniatures, sculpts, and flat figures up to 90 mm (3.5”) and miniature busts up to 1/9 scale.
<div class="headabout">Advantages</div><br>
<ul>
	<li>Minimizes the natural muscle tremble of your hands for maximumcontrolof brush tip, modeling tool, sculpting tool, or airbrush.</li>
	<li>No need to touch the figure once it is in the Holder. This eliminates dirt and oil on painted surfaces, and molded shapes won’t accidentally deform.</li>
	<li>The professional ergonomic design increases comfort level for prolonged use.</li>
	<li>Easy and intuitive to use with multiple variations possible</li>
	<li>Usable with brushes, modelling tools and even with an airbrush </li>
	<li>Removable, split conical cork. Replacement corks will be available from us in the future! </li>
	<li>The 360* rotatable bar disassembles for both easy priming and removing of finished pieces.</li>
	<li>Usable in either right or left hand.</li>
	<li>Cork adapters are removable for quick mounting and release of figures and are designed for versatility including use with pre-glued and custom bases</li>
	<li>Made by a passionate artist, for passionate artists</li>
	
</ul>

</div>
</body>

</html>